*{
    margin: 0%;
    padding: 0%;
}

html, body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    background-color: rgb(153, 167, 167);
    padding: 2rem;
    border-radius: 1.2rem;
    height: 300px;
    width: 300px;
}

.box input{
    margin-top: 2rem;
    margin-bottom: 1.2rem;
    border: none;
    width: 100%;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
}

.dropdown{
    margin-bottom: 2rem;
   display: flex; 
   justify-content: space-between;
}
.from, .to{
   display: flex;
   align-items: center;
   justify-content: center;
}
button{
    width: 100%;
    padding: .5rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    margin: 3px;
}
select{
    width: 50px;
}
